.footer__menu {
    display: flex;
    margin: 92px auto 24px;
    max-width: 1184px;
}

@media screen and (max-width: 1279px) {
    .footer__menu {
        max-width: 928px;
    }    
}

@media screen and (max-width: 1023px) {
    .footer__menu {
        max-width: 720px;
    }    
}

@media screen and (max-width: 767px) {
    .footer__menu {
        flex-direction: column;
        margin: 0;
    }    
}