.footer__credit {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin: 0 0 0 auto;
}

@media screen and (max-width: 767px) {
    .footer__credit {
        flex-direction: column;
        margin: 48px 0 24px 16px;
    }    
}