.cover__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    max-width: 360px;
    position: absolute;
    left: 0;
    top: 429px;
    right: 0;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .cover__text {
        top: 379px;
    }    
}

@media screen and (max-width: 768px) {
    .cover__text {
        top: 299px;
    }    
}

@media screen and (max-width: 320px) {
    .cover__text {
        top: 119px;
        font-size: 14px;
        line-height: 16px;
    }    
}