.places__web-link {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    margin: 12 0 0;
}

.places__web-link:hover {
    opacity: 80%;
}

@media screen and (max-width: 767px) {
    .places__web-link {
        margin-right: 16px;
        margin-left: 16px;
    }    
}